/* Error: expected "{".
 *    ,
 * 78 |             .right__
 *    |                     ^
 *    '
 *   scss\homebottom.scss 78:21  @import
 *   scss\styles.scss 4:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 78 \2502              .right__\d\a    \2502                      ^\a    \2575 \a   scss\\homebottom.scss 78:21  @import\a   scss\\styles.scss 4:9        root stylesheet';
}
